.adress-info span {
    color: #46484c;
    font-size: 2em;
    vertical-align: middle;
}

.adress-info h6 {
    font-size: 0.9em;
    color: #4f5152;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.adress-info a {
    font-size: 0.85em;
}

.adress-info a,
.adress-info p {
    color: #5a646b;
    letter-spacing: 1px;
    line-height: 1.9em;
    margin: 0;
}

.map-fo iframe {
    min-height: 350px;
    border: none;
    background: #e8eaec;
    padding: 0.4em;
    width: 100%;
}
select.form-control:not([size]):not([multiple]) {
    height: inherit;
}
button.btn.submit {
    color: #fff;
    border: none;
    padding: 1em 3em;
    text-decoration: none;
    background: #ff3838;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1em;
    text-transform: uppercase;
}

button.btn.submit:hover {
    opacity: 0.9;
}

