<br><h1 class="text-center blue-grey-text mt-5" >THI THỬ</h1>
<div class="my-5" *ngFor="let qui of quiz | paginate : config">
    <div class="container">
            <countdown #countdown class="float-right" style="font-size: 20px;" [config]="{leftTime:3600}">$!m!:$!s!
                </countdown><br> <br>
        <div class="card" style="font-size: 30px">
            <div class="card-header text-center" >EXAM</div>
            <div class="card-body" >
                <strong><span style="color: #222; font-weight: 500">Sentence {{ config.currentPage + 1 }}/{{ quiz.length }}:</span><span style="font-size: 1.1em; font-weight: bold"> {{ qui.Text }} </span></strong>
                <ul>
                    <mdb-checkbox (change)="changed(1, config.currentPage - 1)" [checked]="listChoose[config.currentPage - 1] === 1" [default]="true">{{ qui.Answers[0].Text}}</mdb-checkbox>
                    <mdb-checkbox (change)="changed(2, config.currentPage - 1)" [checked]="listChoose[config.currentPage - 1] === 2" [default]="true">{{ qui.Answers[1].Text}}</mdb-checkbox>
                    <mdb-checkbox *ngIf="qui.Answers[2]" (change)="changed(3, config.currentPage - 1)" [checked]="listChoose[config.currentPage - 1] === 3" [default]="true">{{ qui.Answers[2].Text}}</mdb-checkbox>
                    <mdb-checkbox *ngIf="qui.Answers[3]" (change)="changed(4, config.currentPage - 1)" [checked]="listChoose[config.currentPage - 1] === 4" [default]="true">{{ qui.Answers[3].Text}}</mdb-checkbox>
                </ul>
            </div>
            <div class="card-footer text-center">
                <button class="btn" (click)="onGetFirstPage();"><mdb-icon fas icon="fas fa-hand-point-up"  ></mdb-icon></button>
                <button class="btn" (click)="down()" [ngClass]="{'disable': ceil(config.currentPage) === 1}"><mdb-icon fas icon="fas fa-hand-point-left"></mdb-icon></button>
                <button class="btn" (click)="up()" ><mdb-icon fas icon="fas fa-hand-point-right"></mdb-icon></button>
                <button class="btn" (click)="onGetLastPage();"><mdb-icon fas icon="fas fa-hand-point-down" ></mdb-icon></button>
            </div>
        </div>
    </div>
</div>