<div class="container my-5">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center"><strong>Sign Up</strong></h5>
					<form class="form-signin">
						<p><label for="inp" class="inp">
								<input type="text" id="firstname" placeholder="&nbsp;">
								<span class="label">FirstName</span>
								<span class="border"></span>
							</label></p>
						<p><label for="inp" class="inp">
								<input type="text" id="lastname" placeholder="&nbsp;">
								<span class="label">LastName</span>
								<span class="border"></span>
							</label></p>
						<p><label for="inp" class="inp">
								<input type="email" id="email" placeholder="&nbsp;" #userEmail required autofocus>
								<span class="label">Email</span>
								<span class="border"></span>
							</label></p>
						<p><label for="inp" class="inp">
								<input type="password" id="password" placeholder="&nbsp;" #userPwd required>
								<span class="label">Password</span>
								<span class="border"></span>
							</label></p>
						<p><label for="inp" class="inp">
								<input type="text" id="phone" placeholder="&nbsp;">
								<span class="label">Phone Number</span>
								<span class="border"></span>
							</label></p>
						<div class="custom-control custom-checkbox mb-3">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Subscribe to our newsletter</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
							(click)="authService.SignUp(userEmail.value, userPwd.value)">Sign up</button>
						<hr class="my-4">
						<label>or sign up with</label>
						<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
								class="fab fa-google mr-2" (click)="authService.GoogleAuth()"></i> Sign in with
							Google</button>
						<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
								class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>