<div class="row about my-4">
    <div class="card col-sm-3" style="width: 18rem;">
        <img src="assets/images/tien.jpg" class="card-img-top " alt="...">
        <div class="card-body">
        <div class="my-name">Phan Văn Tiến</div>
        </div>
    </div>
    <div class="info">
        <div><strong>Họ Và Tên: </strong><span>{{ myInfo.lastName + " " + myInfo.firstName}}</span></div>
        <div><strong>Ngày sinh: </strong>{{ myInfo.birthday }}</div>
        <div><strong>Số điện thoại: </strong><a href="tel:+84{{myInfo.sdt}}"></a>0{{ myInfo.phone }}</div>
        <div><strong>Email: </strong><a href="mailto:{{myInfo.email}}">{{ myInfo.email }}</a></div>
        <div><strong>Địa chỉ: </strong>{{ myInfo.address }}</div>
    </div>
</div>