<div class="main-content" id="home" [ngStyle]="{'background-image': 'url(../assets/images/banner1.jpg)'}">
    <div class="banner-content-w3pvt">
        <div class="banner-w3layouts-info text-center">
            <h3 style="color: black;">Learn Programming For Beginners</h3>
            <form class="banner-form" method="post" action="#">
                <a routerLink="/dangnhap"><button type="submit" class="btn btn-default">Login</button></a>
            </form>
        </div>
    </div>
</div>
<div class="entry-w3pvt-main py-5">
    <div class="container px-lg-5 py-md-3">
        <div class="entry-w3layouts-info">
            <h4>Best Online Learning Center</h4>
            <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.Pellentesque
                convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                pulvinar neque
                pharetra ac.Pellentesque convallis diam consequat magna vulputate malesuada.</p>
        </div>
    </div>
</div>
<section class="banner-bottom py-5" id="about">
    <div class="container py-md-4">
        <div class="row banner-grids">
            <div class="col-lg-6 content-right-bottom text-left">
                <img src="../assets/images/learn.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 content-left-bottom entry-w3layouts-info text-left pl-lg-4">
                <h5 class="mt-1">Learn Before Test.</h5>
                <h4>Limitless learning, more possibilities</h4>
                <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<strong class="text-capitalize">
                        Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin
                        velit.</strong> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in
                    condimentum libero. Pellentesque maximus Pellentesque libero justo Nulla uter sollicitudin velit.
                    Sed porttitor orci vel ferm semper at vel, ultrices in ligula semper at vel.Curabitur ut turpis
                    massa in condimentum libero.</p>
            </div>
        </div>
    </div>
</section>
<section class="ab-info-main py-5">
    <div class="container py-md-4">
        <h3 class="tittle-w3layouts two text-center">Available Courses</h3>
        <div id="products" class="row view-group my-lg-5 my-4">
            <div class="item col-lg-4 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="../assets/images/program.jpg" alt="">
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Programming</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet consectetuer, consectetuer adipiscing elit sit</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/monhoc" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="item col-lg-4 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="../assets/images/design.jpg" alt="">
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Art &amp; Design</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet consectetuer, consectetuer adipiscing elit sit</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/monhoc" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="item col-lg-4 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="../assets/images/lt.jpg" alt="">
                    </div>
                    <div class="caption card-body">
                        <h5 class="group card-title inner list-group-item-heading">
                            <strong>Programming phone applications</strong></h5>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet consectetuer, consectetuer adipiscing elit sit</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/monhoc" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>