<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="nav-link" href="index.html" style="background-color:darkgray "> <i class='fas fa-home'
        style='font-size:24px'></i>TRANG CHỦ</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/gioithieu"]'><i style='font-size:15px' class='far'>&#xf2bb;</i> Giới
            Thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/lienhe"]'><i style='font-size:15px' class='far'>&#xf0e0;</i> Liên Hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/monhoc"]'><i style='font-size:15px' class='far'>&#xf0e0;</i> Môn Học</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i style='font-size:15px' class='far'>&#xf007;</i>Tài Khoản
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" [routerLink]='["/dangki"]'>Đăng Kí</a>
            <a class="dropdown-item" [routerLink]='["/dangnhap"]'>Đăng Nhập</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>