<br><h1 class="text-center my-5 deep-orange-text">
    Chon Bài Kiểm Tra Để Thử Trình Độ Của Bạn</h1>
 <div class="grid-containerc" >
        <div class="card" *ngFor="let logo of subjects | paginate: config">
            <div class="card-body"><img src="{{ logo.Logo }}" alt="{{logo.Name}}"></div>
            <div class="card-footer">
                <h3><a routerLink="/monhoc/{{logo.Id}}">{{logo.Name}}</a></h3>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <pagination-controls (pageChange)="pageChanged($event)" class="text-center"></pagination-controls>
    </div>
